
body {
    background-color: rgba(3, 48, 4, 0.4);
    
}

/*added style to card*/
#card {
    max-width: 1080px
}

/* styled padding adn border*/
.img-thumbnail {
    padding: 0rem;
    border: 0px rgba(3, 48, 4, 0.4);
}

/*styled anchor*/
a {
    color: rgba(52, 85, 114, 0.763)
}

/*updated footer*/
footer {
    background-color: #3e403e;
    color: white;
    font-size: small;
}